body{
 font-family: sans-serif;
 text-align: center;
}


#carouselExampleIndicators {
 width: 100%;
 max-width: 65rem;
 height: 30rem;
 margin: 2rem auto;
 object-fit: cover;
}

#carouselExampleIndicators img{
 height: 30rem;
}

#newsletter {
 max-width: 30rem;
 margin: 4rem auto;
}

section{
 width: 100%;
 max-width: 50rem;
 margin: 2rem auto;
 text-align: center;
}

#main-img{
 width: 100%;
 height: 30rem;
 object-fit: cover;
}